@use 'utilities';

:host {
  display: block;
}

.recipe-img {
  aspect-ratio: 2;
}

.recipe-img img {
  min-width: 100%;
  min-height: 100%;

  object-fit: cover;
}

.d-contents {
  display: contents;
}

@include utilities.media-breakpoint-up(lg) {
  .recipe-img {
    aspect-ratio: 1;
  }
}
