.recipe-details {
  position: absolute;
  top: 5%; // Display below the nav-menu
  left: 0;
  right: 0;
  padding: 20px;
  animation: slideDown 0.3s ease-out;
}

.recipe-name {
  box-shadow: 0 2px 4px rgba(82, 3, 3, 0.675);
  display: flex;
  align-items: center;
  justify-content: center;
}

@keyframes slideDown {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}
