<div
  class="row d-flex mb-3"
  [class.h-75]="!isLoading && !(recipeList$ | async)"
>
  <form
    class="col- col-md-6 m-auto d-flex gap-2"
    (ngSubmit)="onSearch(inputText)"
  >
    <app-search-bar
      class="flex-grow-1"
      placeholder="Search recipes"
      [(search)]="inputText"
    ></app-search-bar>
    <button type="submit" class="btn btn-primary rounded-pill">Search</button>
  </form>
</div>

<div *ngIf="!isLoading && (recipeList$ | async) as recipeList" class="row mb-3">
  <div class="col-">
    <h2 *ngIf="recipeList.length === 0 && searchedQuery !== ''">
      No recipes found for "{{ searchedQuery }}"
    </h2>

    <h2 *ngIf="recipeList.length === 1">
      1 recipe found for "{{ searchedQuery }}"
    </h2>

    <h2 *ngIf="recipeList.length > 1">
      {{ recipeList.length }} recipes found for "{{ searchedQuery }}"
    </h2>

    <app-recipe-list [recipeList]="recipeList"> </app-recipe-list>
  </div>
</div>

<div *ngIf="isLoading" class="row flex-grow-1 mb-3">
  <div class="col- m-auto">
    <app-spinner></app-spinner>
  </div>
</div>
