<div
  class="row d-flex mb-3"
  [class.h-75]="!isLoading && !(recipeList$ | async)"
>
  <div class="col-12 col-md-6 m-auto d-flex flex-column">
    <form class="d-flex gap-2 mb-2" (ngSubmit)="onSearch(inputText)">
      <app-search-bar
        class="flex-grow-1"
        placeholder="Search recipes"
        [(search)]="inputText"
      ></app-search-bar>
      <app-filter-and-sort class="w-25" (sortByChange)="onSortByChange($event)">
      </app-filter-and-sort>
      <button type="submit" class="btn btn-primary rounded-pill">Search</button>
    </form>
  </div>
</div>

<div
  *ngIf="!isLoading && (recipeList$ | async) as recipeList"
  class="row flex-grow-1 mb-3"
>
  <div
    *ngIf="!recipeList.length"
    class="col-12 h-75 d-flex flex-column justify-content-center align-items-center text-muted opacity-75 user-select-none"
  >
    <h2>No recipes found</h2>
  </div>

  <app-recipe-list
    *ngIf="recipeList.length"
    class="col-12"
    [recipes]="recipeList"
  ></app-recipe-list>
</div>

<div *ngIf="isLoading" class="row flex-grow-1 mb-3">
  <div class="col-12 m-auto">
    <app-spinner></app-spinner>
  </div>
</div>
