.center-container {
  display: flex;
  align-items: center;
  height: 10vh;
}

.form-control {
  border-radius: 25px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding-left: 15px;
  width: 50vw;
}
.form-outline {
  position: relative;
  margin-top: 10px;
  margin-bottom: 10px;
}
.form-outline i {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
}
