<h1>PantryPal</h1>
<p>Use the search bar below to search for any recipe</p>

<form (ngSubmit)="onSearch(inputText)">
  <div class="form-outline">
    <i class="fas fa-search"></i>
    <input
      type="text"
      class="form-control"
      name="inputText"
      [(ngModel)]="inputText"
      placeholder="Search Recipe.."
    />
  </div>
  <button type="submit">Search</button>
</form>

<ng-container *ngIf="isLoading">
  <h2>Loading...</h2>
</ng-container>

<ng-container *ngIf="!isLoading && (recipeList$ | async) as recipeList">
  <ng-container *ngIf="recipeList.length === 0 && searchedQuery !== ''">
    <h2>No recipes found for "{{ searchedQuery }}"</h2>
  </ng-container>

  <ng-container *ngIf="recipeList.length === 1">
    <h2>1 recipe found for "{{ searchedQuery }}"</h2>
  </ng-container>

  <ng-container *ngIf="recipeList.length > 1">
    <h2>{{ recipeList.length }} recipes found for "{{ searchedQuery }}"</h2>
  </ng-container>

  <app-recipe-list [recipeList]="recipeList"> </app-recipe-list>
</ng-container>
