<ng-container *ngIf="recipeList.length != 0">
  <ng-container *ngIf="recipeList.length == 1; else moreThanOne">
    <h3>There is {{ recipeList.length }} recipe in the list.</h3>
    <div *ngFor="let recipe of recipeList">
      <a [routerLink]="['/recipe', recipe.id]">{{ recipe.name }}</a>
    </div>
  </ng-container>
  <ng-template #moreThanOne>
    <h3>
      There are {{ recipeList.length }} recipes in the list that contain the term
      '{{ searchedQuery }}'
    </h3>
    <div *ngFor="let recipe of recipeList">
      <a [routerLink]="['/recipe', recipe.id]">{{ recipe.name }}</a>
    </div>
  </ng-template>
</ng-container>

<!-- TODO (NilinReza): handle template  -->
