<div
  *ngIf="alert$ | async as alert"
  class="alert d-flex"
  [ngClass]="{
    'alert-success': alert.type === 'success',
    'alert-info': alert.type === 'info',
    'alert-warning': alert.type === 'warning',
    'alert-danger': alert.type === 'error'
  }"
  role="alert"
>
  <div class="alert-icon d-flex me-2">
    <mat-icon *ngIf="alert.type === 'success'">check_circle</mat-icon>
    <mat-icon *ngIf="alert.type === 'info'">info</mat-icon>
    <mat-icon *ngIf="alert.type === 'warning'">warning</mat-icon>
    <mat-icon *ngIf="alert.type === 'error'">error</mat-icon>
  </div>
  {{ alert.message }}
</div>
