<div class="row h-100">
  <div class="col- d-flex justify-content-center m-auto">
    <div class="d-flex flex-column">
      <button
        mat-flat-button
        class="mb-3"
        color="primary"
        [routerLink]="['/', appPaths.createRecipe]"
      >
        Create Recipe
      </button>
      <button
        mat-flat-button
        class="mb-3"
        color="primary"
        [routerLink]="['/', appPaths.editRecipe]"
      >
        Edit Recipe
      </button>
      <button
        mat-flat-button
        color="primary"
        [routerLink]="['/', appPaths.deleteRecipe]"
      >
        Delete Recipe
      </button>
    </div>
  </div>
</div>
