@use 'utilities';

:host {
  display: block;
}

.recipe-img {
  aspect-ratio: 2;
}

.recipe-img img {
  min-width: 100%;
  min-height: 100%;

  object-fit: cover;
}

textarea {
  resize: none;
}

.form-bar button {
  min-width: 6em;
}

@include utilities.media-breakpoint-up(lg) {
  .recipe-img {
    aspect-ratio: 1;
  }
}
