<div class="row d-flex mb-3">
  <div class="col- col-md-6 m-auto">
    <div class="form-outline">
      <input
        type="search"
        class="form-control rounded-pill"
        placeholder="Search Ingredient"
        [(ngModel)]="search"
        (ngModelChange)="onSearchChange(search)"
      />
    </div>
  </div>
</div>

<ng-container *ngIf="filteredIngredients$ | async as ingredients">
  <div
    *ngIf="!ingredients.length"
    class="col- h-75 d-flex flex-column justify-content-center align-items-center text-muted opacity-75 user-select-none"
  >
    <h2 *ngIf="!search">
      Use the search bar to find and add/remove ingredients
    </h2>
    <h2 *ngIf="!!search">No ingredients found</h2>
  </div>
  <div *ngIf="!!ingredients.length" class="row flex-grow-1 mb-3">
    <cdk-virtual-scroll-viewport class="col" itemSize="25">
      <div class="row px-2">
        <app-ingredient
          *cdkVirtualFor="let ingredient of ingredients"
          class="col- col-md-4 col-lg-3 mb-3"
          [search]="search"
          [ingredient]="ingredient"
          [isInFridge]="isInFridge(ingredient)"
          (addIngredient)="addIngredient(ingredient)"
          (removeIngredient)="removeIngredient(ingredient)"
        ></app-ingredient>
      </div>
    </cdk-virtual-scroll-viewport>
  </div>
</ng-container>
