/* You can add global styles to this file, and also import other style files */
@import 'node_modules/@angular/material/prebuilt-themes/indigo-pink.css';

html, body {
  height: 100vh;
  margin: 0;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

code {
  color: #e01a76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.d-contents {
  display: contents;
}

/* Icon sizes */
[class*='icon-'] {
  width: auto !important;
  height: auto !important;
}

.icon-md {
  font-size: 2em;
}

.icon-lg {
  font-size: 4em;
}

.icon-xl {
  font-size: 6em;
}
